<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dojo Survey Index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>

    <h1> Dojo Survey Index</h1>

    <div class="container">

    <div id="form_box">

      <form action="/result" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name"><br>
        <label for="location">Dojo Location: </label>
        <select id="location" name="location">
          <option value="Arlington">Arlington</option>
          <option value="Bellevue">Bellevue</option>
          <option value="Boise">Boise</option>
          <option value="Chicago">Chicago</option>
          <option value="Dallas">Dallas</option>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Oakland">Oakland</option>
          <option value="Online">Online</option>
          <option value="Orange County">Orange County</option>
          <option value="San Jose">San Jose</option>
          <option value="Tulsa">Tulsa</option>
        </select><br>

        <label for="language">Favorite Language: </label>
        <select id="language" name="language">
          <option value="C# / .NET">C# / .NET</option>
          <option value="Java">Java</option>
          <option value="Javascript">Javascript</option>
          <option value="MERN">MERN</option>
          <option value="Python">Python</option>
          <option value="Ruby">Ruby</option>
        </select><br>
        <p>Comment (optional):</p>
        <textarea name="comment" rows="10" cols="30"></textarea><br>
        <button type="submit">Submit</button>
      </form>

    </div>

  </div>


  </body>
</html>