<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dojo Survey Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="" async defer></script>

  </head>
  <body>
    <h1 style="text-decoration: underline;">Submitted Info</h1>

    <div class="container">
      <p>Name: {{ name_on_template }}</p>
      <p>Dojo Location: {{ location_on_template }}</p>
      <p>Favorite Language: {{ language_on_template }}</p>
      <p>Comment: {{ comment_on_template }}</p>

    <button>Go Back</button>
    </div>

  </body>
</html>